:root {
    color-scheme: dark;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: monospace;
    font-size: 1.1rem;
    max-width: 1000px;
    margin: 0 auto;
    padding: 1rem;
}

table {
    width: 100%;
}

test-result {
    display: block;
    border: 1px solid;
    width: 1em;
    height: 1em;
    line-height: 1;
    margin: 0 auto;

    &[success] {
        background-color: #589b31;
    }
    &[failed] {
        background-color: #e3170a;
    }
    &[skipped] {
        background-color: #4a7096;
    }
}

build-name {
    display: block;
    font-weight: normal;
    writing-mode: vertical-rl;
    text-orientation: mixed;
}

tr th:first-child {
    border: none;
}

tr th:not(:first-child) {
    width: 0;
}

tr[job] {
    background-color: rgba(255, 255, 255, 0.1);
}

th, td {
    border: 1px solid gray;
    padding: 0.25rem;
}

table {
    margin-bottom: 5rem;
    border-collapse: collapse;
}

td[job-collapse-toggle]:hover {
    background-color: rgba(255, 255, 255, 0.05);
    cursor: pointer;
}
