:root {
    color-scheme: dark;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    max-width: 1000px;
    margin: 1rem auto;
    font-family: monospace;
    font-size: 1.1rem;
}

table {
    width: 100%;
}

test-result {
    display: block;
    border: 1px solid;
    width: 1em;
    height: 1em;
    line-height: 1;
    margin: 0 auto;

    &[success] {
        background-color: #589b31;
    }
    &[failed] {
        background-color: #e3170a;
    }
    &[skipped] {
        background-color: #4a7096;
    }
}

build-name {
    display: block;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    line-height: 1;
    font-weight: normal;
}

th, td {
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    padding: 0.25rem;
}
