<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Rest</title>
        <link href="style.css" rel="stylesheet">
    </head>
    <body>
        <h1>Build 912</h1>
        <project-test-grid>
            <build>
                <h2>pims 9.1.2 build 921</h2>
                <case passed>
                    <case-name>hello</case-name> 0.52s | passed
                </case>
                <case skipped>
                    <case-name>hello</case-name> 0.52s | skipped
                </case>
                <case aborted>
                    <case-name>hello</case-name> 0.52s | aborted
                </case>
                <case failed>
                    <case-name>hello</case-name> 0.52s | failed
                </case>
            </build>
            <build>
                <h2>pims 9.1.2 build 921</h2>
                <case>
                    <case-name>hello</case-name> | 0.52s | passed
                </case>
                <case>
                    <case-name>hello</case-name> | 0.52s | passed
                </case>
                <case>
                    <case-name>hello</case-name> | 0.52s | passed
                </case>
                <case>
                    <case-name>hello</case-name> | 0.52s | passed
                </case>
                <case>
                    <case-name>hello</case-name> | 0.52s | passed
                </case>
            </build>
        </project-test-grid>
    </body>
</html>
