<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Rest</title>
        <link href="style.css" rel="stylesheet">
    </head>
    <body>
        <h1>Pims 9.1.x</h1>
        <everything>
            <project-children>
                <h2>Children</h2>
                <ul>
                    <li>
                        <p>
                            <a href="#">tree</a><ul>
                                <li><p><a href="#">hello</a></p></li>
                            </ul>
                        </p>
                    </li>
                </ul>
            </project-children>
            <project-builds>
                <h2>Builds</h2>
                <ul>
                    <li>
                        <p>
                            <a href="#">tree</a>
                        </p>
                    </li>
                    <li>
                        <p>
                            <a href="#">tree</a>
                        </p>
                    </li>
                </ul>
            </project-builds>
        </everything>
    </body>
</html>
