:root {
    color-scheme: dark;
    font-family:
        system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

everything {
    display: flex;
    > * {
        > h2 {
            margin-top: 0;
        }
        > :last-child {
            margin-bottom: 0;
        }
        flex: 1;
        border: 1px solid;
        padding: 0.5rem;
    }
    gap: 0.5rem;
}

ul {
    font-size: 1.5rem;
    padding-left: 2ch;
    p {
        margin-block: 0.25rem;
        font-weight: bold;
    }
}

project-test-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 0.5rem;

    build {
        padding: 1rem;
        h2 {
            margin-top: 0;
        }
        border: 1px solid;
    }

    case {
        &[passed] {
            background-color: #589b31;
        }
        &[skipped] {
            background-color: #ffe74c;
            color: black;
        }
        &[failed] {
            background-color: #d6371f;
        }
        padding: 0.25rem;
        display: flex;
        font-family: monospace;

        case-name {
            flex: 1;
        }
    }
}

body {
    max-width: 1000px;
    margin: 0 auto;
    padding: 1rem;
}
